input[type="text"] {
  display: inline-block;
  border: none;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
}

input:focus {
  border: none;
  outline: none;
}

.input-placeholder {
  height: 22px;
  width: 100%;
}
