table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table-column {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  width: 200px;
  height: 22px;
}

td:not(:last-child) {
  border-right: 1px solid #dddddd;
}

.add-column {
  width: 40px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  height: 22px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  height: 30px;
  width: 30px;
}
